
.ElementInput.Button
{
  user-select: none;
}

.ElementInput.Button, .ElementInput.Button *
{
  cursor: pointer;
}

.ElementInput.Button
{
  width: fit-content;
  
  display: flex;
  align-items: center;
}

.Button .icon___
{
  /*min-width: 32px;*/
  min-width: 48px;
  min-height: 32px;
  
  background-color: transparent;
  background-repeat: no-repeat;
}

.ElementInput.Button label
{
  /*margin: 0;*/
  /*border: 0;*/
  /*padding: 0;*/
}
