@charset "UTF-8";

/*----------------------------------------------------------------------------*/

.main
{
  background-color: transparent;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  /*background-size: auto;*/
  background-size: cover;
  /*background-size: contain;*/
}

/*----------------------------------------------------------------------------*/

.menu
{
  background-image: url("desktop.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  /*background-size: auto;*/
  background-size: cover;
  /*background-size: contain;*/
}

.menu_menu
{
  background-color: transparent;
}

.menu_task_button
{
  cursor: pointer;
  
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #FFFFFF;
  
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

/*----------------------------------------------------------------------------*/

.task_container
{
}

.taskbar, .taskbar *
{
  color: #FFFFFF;
  background-color: #505050;
  border-color: #FFFFFF;
}

.taskbar_item
{
}

.taskbar_button
{
  cursor: pointer;
}

.taskbar_menu, .taskbar_menu *
{
}

.taskbar_menu_item
{
  cursor: pointer;
}

.taskbar_menu_item *
{
}

.taskbar_menu_item:hover
{
}

.taskbar_menu_button
{
}

.taskbar_menu_button *
{
}

.taskbar_menu_button:hover
{
}

/*----------------------------------------------------------------------------*/
