[Desktop Entry]
Version=1.0
Name=MadEdit
Comment=Text/Hex Editor
Exec=/m/app/madedit %f
Icon=/usr/share/pixmaps/madedit.xpm
Terminal=false
Type=Application
MimeType=text/plain
Categories=TextEditor;Utility;
StartupNotify=true
StartupWMClass=madedit
