[Desktop Entry]
Version=1.0
Name=MadEdit
Comment=Text/Hex Editor
Exec=madedit %f
Icon=madedit-madedit-icon
Terminal=false
Type=Application
MimeType=text/plain
Categories=Utility;TextEditor;
StartupNotify=true
StartupWMClass=madedit
