[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=vscode %F
Icon=vscode-vscode-icon
Type=Application
StartupNotify=true
StartupWMClass=code
Categories=TextEditor;Development;IDE;
MimeType=application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=vscode --new-window %F
Icon=vscode-vscode-icon
