<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!--
  <error-page>
    <error-code>401</error-code>
    <location>/auth/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/auth/error.jsp</location>
  </error-page>
  -->
  
  <!-- SESSION CONFIGURATION -->
  
  <!--
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  -->
  
  <!--
  <login-config>
    <auth-method>DIGEST</auth-method>
    <realm-name>my_realm</realm-name>
  </login-config>
  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
    <realm-name>my_realm</realm-name>
  </login-config>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/auth/login.jsp</form-login-page>
      <form-error-page>/auth/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  -->
  
  <!--
  <security-role>
    <role-name>*</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>root</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  -->
  
  
  
  <!-- SECURITY ROLES REFERENCED BY THIS WEB APPLICATION -->
  
  <security-role>
    <role-name>*</role-name>
  </security-role>
  
  
  
  <!-- SECURITY CONSTRINTS -->
<!--  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>root</web-resource-name>
      <url-pattern>/auth/login</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
-->
  
  
  <!-- ERROR MAPPINGS -->
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/</location>
  </error-page>
  
  
  
  <!-- LISTENER MAPPINGS -->
  
  <listener>
    <listener-class>m.web.ListenerInit</listener-class>
  </listener>
  
<!--  
  <listener>
    <listener-class>MassimilianoNardi.web.ListenerSession</listener-class>
  </listener>
-->
  
  
  
  <!-- FILTER MAPPINGS -->
  
<!--  
  <filter>
    <filter-name>FilterAuthorization</filter-name>
    <filter-class>MassimilianoNardi.web.FilterAuthorization</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAuthorization</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
-->
  
  
  
  <!-- SERVLET MAPPINGS -->
  
  <servlet>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>m.web.jetty.JettyProxyServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
    <multipart-config>
      <location></location>
      <file-size-threshold>0</file-size-threshold>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/m/*</url-pattern>
  </servlet-mapping>
  
<!--  
  <servlet>
    <servlet-name>ServletError</servlet-name>            
    <servlet-class>MassimilianoNardi.web.ServletError</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletError</servlet-name>
    <url-pattern>/error/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletAuthorization</servlet-name>            
    <servlet-class>MassimilianoNardi.web.ServletAuthorization</servlet-class>
    <load-on-startup>0</load-on-startup>
    <multipart-config>
      <location></location>
      <file-size-threshold>0</file-size-threshold>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAuthorization</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletData</servlet-name>            
    <servlet-class>MassimilianoNardi.web.ServletData</servlet-class>
    <load-on-startup>0</load-on-startup>
    <multipart-config>
      <location></location>
      <file-size-threshold>0</file-size-threshold>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletData</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletVersion</servlet-name>            
    <servlet-class>MassimilianoNardi.web.ServletVersion</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVersion</servlet-name>
    <url-pattern>/version/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletFile</servlet-name>            
    <servlet-class>MassimilianoNardi.web.ServletFile</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFile</servlet-name>
    <url-pattern>/file/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletProxy</servlet-name>            
    <servlet-class>MassimilianoNardi.web.ServletProxy</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProxy</servlet-name>
    <url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>
-->
  
</web-app>
