/*
:root
{
   layout 
  --main-margin: 0;
  --main-border: 0;
  --main-padding: 0;
  
  --main-width: 100%;
  --main-height: 100%;
  
  --main-position: absolute;
  
  --alt-margin: 5px;
  --alt-border: 0;
  --alt-padding: 5px;
  
  --alt-width: 100%;
  --alt-height: 100%;
  
  --alt-position: relative;
  
   style 
  --main-color: #505050;
  --main-color: #000000;
  --main-background-color: #FFFFFF;
  --main-outline-color: #707070;
  --main-border-color: #505050;
  
  --main-border-width: 0;
  --main-border-radius: 0;
  --main-border-style: none;
  
  --main-font-family: "Verdana", sans-serif;
  --main-font-family: "Roboto", sans-serif;
  --main-font-weight: 300;
  
  --alt-color: #FFFFFF;
  --alt-background-color: #000000;
  --alt-outline-color: #707070;
  --alt-border-color: #505050;
  
  --alt-border-width: 1px;
  --alt-border-radius: 4px;
  --alt-border-style: solid;
  
  --alt-font-family: "Verdana", sans-serif;
  --alt-font-family: "Roboto", sans-serif;
  --alt-font-weight: 300;
  
  --container-background-color: #50505030;
  
  --alt-color: #FFFFFF;
  --alt-background-color: #FF2D55;
  --alt-background-color: #a23a58;
  
  --shadow-color: #E7E7E7;
  --hover-color: #CCCCCC;
  --caldays-color: #07c;
}*/
