
.ProgressBar
{
  
}

.ProgressBar .progress_container
{
  position: relative;
  /*width: 100%;*/
  overflow: hidden;
  
  /*background-color: var(--shadow-color);*/
  /*background-color: transparent;*/
  
  border: 0;
  padding: 0;
}

.ProgressBar .text
{
  position: absolute;
  
  /*border: 0;*/
  margin: 0;
  
  text-align: center;
  text-align-last: center;
  
  background-color: transparent;
}

.ProgressBar .progress
{
  width: 0;
  min-width: 0;
  
  position: absolute;
  
  text-align: center;
  text-align-last: center;
  overflow: visible;
  
  color: var(--alt-color);
  background-color: var(--alt-background-color);
  /*background-color: var(--shadow-color);*/
  
  /*border: 0;*/
  padding: 0;
  margin: 0;
  
  border-radius: 0;
  border-color: transparent;
}
