"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "spell-check"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "71b759e3-d8cc-4201-9eef-6165edd56059"
  welcome:
    lastViewedChangeLog: "1.128.0"
    showOnStartup: false
