body
{
  border: 0;
  margin: 0;
  padding: 0;

  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}



/* *[contenteditable="true"]{display: inline-block;} */

/* #m-edit-gutter, #m-edit
{
  display: inline-block;
  border: solid black 1px;
} */

pre.m-edit-pre
{
  white-space: pre-wrap;
  padding: 10px;
}

pre.m-edit-pre::before
{
  counter-reset: line_number;
}

pre.m-edit-pre code
{
  display: block;
  counter-increment: line_number;
}

pre.m-edit-pre code::before
{
  content: counter(line_number) ". ";
  display: inline-block;
  width: 8em;
  /* padding-left: auto;
  margin-left: auto; */
  text-align: right;
}
