body, .section, .item-browser
{
  border: 0;
  margin: 0;
  padding: 0;

  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.switch-section-buttons-container
{
  position: absolute;
  top: 0;
  right: 0;
}

.item-browser
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.item-browser > .toolbar, .paged-browser > .toolbar
{
  max-width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item-browser > .paged-browser
{
  max-width: 100%;
  height: -webkit-fill-available;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.item-browser > .paged-browser > .item-list
{
  width: fit-content;
  height: -webkit-fill-available;
  overflow: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-content: space-between; */
}

.item
{
  width: fit-content;
  padding: 10px;
  margin: 5px;
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.description
{
  font-family: sans-serif;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 10px;
  max-width: 320px;
}

.description > .price
{
  font-size: large;
}

.description > .selector
{
  transform: scale(2.0);
}
