.Form
{
  margin: 0;
  padding: 10px;
  border: 1px;
  border-style: solid;
  display: block;
  /*display: inline-block;*/
  /*width: 100%;*/
  /*height: 100%;*/
  text-align: center;
}

.Form table
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Form .label
{
  text-align: right;
  color: #CBCBCB;
  background: #FAFAFA;
}

.Form .field
{
  width: 100%;
  border: 1px;
  border-style: dotted;
}

.Form .statusbar.error
{
  color: white;
  background: red;
}

.Form .statusbar.success
{
  color: white;
  background: green;
}

.Form .button
{
  display: inline;
  margin: 10px;
  padding: 5px;
  border: 2px;
  border-radius: 5px;
  border-style: solid;
}

.Form .button:hover
{
  /*border-bottom: 2px;*/
  border-color: #90D0A0;
  border-style: solid;
}
