.Login
{
  display: inline-block;
  margin: 0px;
  padding: 5px;
  color: #606060;
  background-color: #FFFFFF;
  border: 2px;
  border-radius: 5px;
  border-color: #A0A0A0;
  border-style: solid;
}

.Login .Title
{
  text-align: center;
  font-size: 26px;
}

.Login .Form
{
  text-align: center;
}

.Login .Button
{
  text-align: right;
  margin-top: 5px;
}
