.TableEditFormScrollable
{
  margin: 0;
  padding: 0;
  margin: 0px auto 0px auto;
  display: block;
  /*border: 1px;*/
  /*border-style: solid;*/
  max-width: 100%;
  /*max-width: calc(100% - 1px);*/
  max-height: 100%;
  /*max-height: calc(100% - 2px);*/
  width: 100%;
  /*width: calc(100% - 1px);*/
  height: 100%;
  /*height: calc(100% - 2px);*/
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.TableEditFormScrollable>.table_button_insert
{
  position: absolute;
  background: transparent;
  z-index: 10;
}

.TableEditFormScrollable>.table_button_insert>input
{
  position: absolute;
  top: 0px;
  left: 10px;
  padding: 2px;
  font-size: 12px;
}

.TableEditFormScrollable .header
{
  display: block;
  overflow-x: visible;
  overflow-y: hidden;
  z-index: 5;
  position: absolute;
  left: 0px;
  right: 0px;
  border-width: 0px;
}

.TableEditFormScrollable .footer
{
  display: block;
  overflow-x: visible;
  overflow-y: hidden;
  z-index: 5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-width: 0px;
}

.TableEditFormScrollable .footer>*
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.TableEditFormScrollable .body
{
  max-width: 100%;
  max-height: 100%;
  display: block;
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;
  border-width: 0px;
}
