[Unit]
Description=KeyCloak Virtual Home Service
After=network.service

[Service]
Type=simple
ExecStart=mount --bind "/m/src/git/m/cmd/pkg/zzz/pkg/keycloak-26.4.1/keycloak-26.4.1" "/opt/keycloak"
ExecStop=umount "/opt/keycloak"

[Install]
WantedBy=multi-user.target

