[Unit]
Description=KeyCloak Service
After=network.service

[Service]
Type=simple
User=keycloak
Group=keycloak
ExecStart=/m/src/git/m/cmd/pkg/bin/kc.sh start

[Install]
WantedBy=multi-user.target

