[Desktop Entry]
Version=1.0
Name=Chrome
GenericName=Web Browser
Comment=Access the Internet
Exec=app chrome run %U
Terminal=false
Type=Application
Icon=/m/app/chrome/latest/opt/google/chrome/product_logo_48.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/pdf;
StartupNotify=true
StartupWMClass=Google-chrome
Actions=new-window;Incognito;TempProfile;

[Desktop Action new-window]
Name=New Window
Exec=app chrome

[Desktop Action Incognito]
Name=New Incognito Window
Exec=app chrome run --incognito

[Desktop Action TempProfile]
Name=New Window with a Temporary Profile
Exec=app chrome run --temp-profile
