[Desktop Entry]
Version=1.0
Name=Pulsar
Exec=app pulsar run %F
Terminal=false
Type=Application
Icon=/m/app/pulsar/latest/resources/pulsar.png
StartupNotify=true
StartupWMClass=pulsar
