[Unit]
Description=KeyCloak Service
Requires=keycloak-vhome.service
After=network.service

[Service]
Type=simple
User=keycloak
Group=keycloak
ExecStart=/opt/keycloak/bin/kc.sh start-dev

[Install]
WantedBy=multi-user.target

