.TableScrollable
{
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.TableScrollableCaption
{
  display: block;
  text-align: center;
}

.TableScrollableHeader
{
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

.TableScrollableFooter
{
  z-index: 1;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.TableScrollableBody
{
  z-index: 0;
}

.TableScrollableHeader tr, .TableScrollableFooter tr
{
  white-space: nowrap;
}

.TableScrollableHeader th, .TableScrollableFooter th
{
  display: inline-block;
}

.TableScrollableBody th
{
  color: transparent;
}
