
.ElementInput
{
  display: inline-block;
  
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  /*align-items: stretch;*/
}

/*.ElementInput > *
{
  order: 2;
}*/

.ElementInput > label
{
  /*order: 0;*/
/*  cursor: default;
  
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;*/
}

/*.ElementInput > .icon
{
  order: 1;
}*/
