[Desktop Entry]
Version=1.0
Name=Lite XL
Exec=env /m/app/app litexl run %F
Terminal=false
Type=Application
Icon=/m/app/pulsar/latest/resources/pulsar.png
StartupNotify=true
StartupWMClass=lite-xl
